<div style="background-color: #333; padding: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: space-around;">
      <li>
        <a href="/" style="text-decoration: none; color: #fff;">Home</a>
      </li>
      <li>
        <a href="/login" style="text-decoration: none; color: #fff;">Login</a>
      </li>
      <li>
        <a href="/registro" style="text-decoration: none; color: #fff;">Registro</a>
      </li>
    </ul>
  </div>
  